button {
    border: 1;
    border-color: brown;
    background-color: brown;
    font-weight: bold;
    outline: 0;
}

.contraseña2{
    background-color: rgba(0, 255, 0, 0.500);
    background-color: rgba(255, 0, 0, 0.400);
}

.espacio{
    padding-top: 3em;
}

input{
    background-color: #e0dcdc;
}