.App-navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

button {
    font-size: 20px;
    border: 0;
    outline: 0;
}