<app-navbar />
<h2>Registrar Compra</h2>
<form class="mb-3 module" [formGroup]="formVenta">
    <label for="FormControlInput" class="form-label texto">Producto:</label>
    <div class="input-group mb-3">
        <select formControlName="productoCodigo" [(ngModel)]="seleccion2" class="form-select">
            <option disabled value="0">Seleccione un producto</option>
            <option *ngFor="let item of Lista_Inventario" [ngValue]="item.ID">
                {{ item.Nombre }}
            </option>
        </select>
        &nbsp;
    </div> 
    <br />
    <button type="submit" (click)="agregar()" [disabled]="formVenta.invalid">Agregar</button> 
</form>
<div>

</div>
<p>Total: $total</p>
<button type="submit" (click)="realizarVenta()">Finalizar Venta</button>
<app-bottombar></app-bottombar>