<app-navbar />
<div>
    <h1 class="titulo">Generar respuesta</h1>
    <br />
    <div class="mb-3 module">
        <h2>Datos del Oficio original</h2>
        <label for="FormControlInput" class="form-label">Folio</label>
        <input formControlName="folioRespuesta" autocomplete="off" type="text" class="form-control"
            id="FormControlInput" placeholder="DGA XXX / XX" [disabled]="true" [readOnly]="true">
    </div>
    <div class="module centro">
        <h2>Tipo de Respuesta</h2>
        <label class="radios">
            <input type="radio" name="opcion" value="1" (change)="opciones('oficio')"> Oficio
        </label>
        <label class="radios">
            <input type="radio" name="opcion" value="2" (change)="opciones('correo')"> Correo
        </label>
    </div>
    <div class="mb-3 module" *ngIf="mostrarOficio">
        <div class="respuestaOficio">
            <h2>Datos del Oficio de Respuesta</h2>
            <form (ngSubmit)="comprobar()">
                <label for="FormControlInput" class="form-label">Folio</label>
                <input formControlName="folio" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                    placeholder="DGA XXX / XX">

                <label for="FormControlInput" class="form-label">Asunto</label>
                <input formControlName="asunto" autocomplete="off" type="text" class="form-control"
                    id="FormControlInput" placeholder="">

                <label for="FormControlInput" class="form-label">Dirigido a</label>
                <input formControlName="receptor" autocomplete="off" type="text" class="form-control"
                    id="FormControlInput" placeholder="Ing./Lic.">

                <label for="FormControlInput" class="form-label">Area Asignada</label>
                <input formControlName="area" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                    placeholder="">

                <label for="FormControlInput" class="form-label">Fecha de creacion</label>
                <input formControlName="fecha-creacion" autocomplete="off" type="date" class="form-control"
                    id="FormControlInput" placeholder="">

                <label for="FormControlInput" class="form-label">Resumen de informacion</label>
                <input formControlName="resumen" autocomplete="off" type="text" class="form-control"
                    id="FormControlInput" placeholder="">

                <label for="FormControlInput" class="form-label">Emisor</label>
                <input formControlName="emisor" autocomplete="off" type="text" class="form-control"
                    id="FormControlInput" placeholder="Ing./Lic. $TEXTO_BD" [readOnly]="true" [disabled]="true">

                <label for="FormControlInput" class="form-label">Area de procedencia</label>
                <input formControlName="areaEmisor" autocomplete="off" type="text" class="form-control"
                    id="FormControlInput" placeholder="$TEXTO_BD" [readOnly]="true" [disabled]="true">

                <label for="FormControlInput" class="form-label">Escaneo Oficio</label>
                <span class="espacio">
                    <input formControlName="oficiopdf" autocomplete="off" type="file" class="form-control"
                        id="FormControlInput">
                </span>

                <span class="espacio">
                    <button type="submit" (click)="altaRespuesta()">Registrar</button>
                </span>

            </form>
        </div>
    </div>
    <div class="mb-3 module" *ngIf="mostrarCorreo">
        <h2>Formato para correo</h2>
        <form (ngSubmit)="comprobarCorreo()">
            <label for="FormControlInput" class="form-label">Asunto</label>
            <input formControlName="asunto" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="">

            <label for="FormControlInput" class="form-label">Cuerpo del correo</label>
            <textarea matInput formControlName="asunto" autocomplete="off" class="form-control" id="FormControlInput"></textarea>

            <label for="FormControlInput" class="form-label">Adjuntos</label>
            <span class="espacio">
                <input formControlName="adjuntos" autocomplete="off" type="file" class="form-control"
                    id="FormControlInput">
            </span>

            <span class="espacio">
                <button type="submit" (click)="enviarCorreo()">Enviar Correo</button>
            </span>

        </form>
    </div>
</div>
<app-bottombar></app-bottombar>