<app-navbar />
<div>
    <h1 class="titulo">Sistema de Alta de Usuarios</h1>
    <div class="mb-3 module">
        <form (ngSubmit)="comprobar()">
            <label for="FormControlInput" class="form-label">Folio</label>
            <input formControlName="folio" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="DGA XXX / XX">

            <label for="FormControlInput" class="form-label">Asunto</label>
            <input formControlName="asunto" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="">

            <label for="FormControlInput" class="form-label">Dirigido a</label>
            <input formControlName="receptor" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="Ing./Lic.">

            <label for="FormControlInput" class="form-label">Area Asignada</label>
            <input formControlName="area" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="">

            <label for="FormControlInput" class="form-label">Fecha de creacion</label>
            <input formControlName="fecha-creacion" autocomplete="off" type="date" class="form-control"
                id="FormControlInput" placeholder="">

            <label for="FormControlInput" class="form-label">Resumen de informacion</label>
            <input formControlName="resumen" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="">

            <label for="FormControlInput" class="form-label">Emisor</label>
            <input formControlName="emisor" autocomplete="off" type="text" class="form-control" id="FormControlInput"
                placeholder="Ing./Lic.">

            <label for="FormControlInput" class="form-label">Area de procedencia</label>
            <input formControlName="areaEmisor" autocomplete="off" type="text" class="form-control"
                id="FormControlInput" placeholder="">

            <label for="FormControlInput" class="form-label">Fecha de recepcion</label>
            <input formControlName="fecha-recibido" autocomplete="off" type="date" class="form-control"
                id="FormControlInput" [valueAsDate]=fechahoy>

            <label for="FormControlInput" class="form-label">Escaneo Oficio</label>
            <span class="espacio">
                <input formControlName="oficiopdf" autocomplete="off" type="file" class="form-control"
                    id="FormControlInput">
            </span>

            <span class="espacio">
                <button type="submit" (click)="altaOficio()">Registrar</button>
            </span>

        </form>
    </div>
</div>
<app-bottombar></app-bottombar>