
<h3 class="titulo centro">Inicio de sesion</h3>
<form class="mb-3 rounded-top centro">
    <label for="FormControlInput" class="form-label texto">Login</label>
    <input type="text" class="form-control" id="FormControlInput" placeholder="usuario" name="usuario">
    <label for="FormControlInput" class="form-label texto">Contraseña</label>
    <input type="text" class="form-control" id="FormControlInput" placeholder="contraseña" name="contraseña">
    <br />
    <button type="submit" class="inicio" (click)="iniciarSesion()">Iniciar Sesion</button>    

</form>