<app-navbar />
<h2>Historial de compras.</h2>
<div class="mat-elevation-z0 espacio module">
    <mat-form-field class="mat-form-field">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id de Venta </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let element"> ${{element.Total}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaVenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Venta </th>
            <td mat-cell *matCellDef="let element"> {{element.FechaVenta | date:'dd / MMMM / yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="productos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IDs de productos vendidos </th>
            <td mat-cell *matCellDef="let element"> {{element.ProductosVendidos}} </td>
        </ng-container>
        <ng-container matColumnDef="promociones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IDs de promociones aplicadas </th>
            <td mat-cell *matCellDef="let element"> {{element.PromocionesAplicadas}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>
<div>
    <h3>Visualizador.</h3>
    <form [formGroup]="formVentaData">
        <label for="FormControlInput" class="form-label">ID's de ventas realizadas:</label>
        <div class="input-group mb-3">
            <select formControlName="id" [(ngModel)]="seleccion" class="form-select" (change)="setName()" [value]='0'>
                <option disabled value="0">Seleccione una opcion</option>
                <option value="9999"><b>Sin seleccion</b></option>
                <option *ngFor="let item of objetos" [ngValue]="item.ID">
                    {{ item.ID }}
                </option>
            </select>
            &nbsp;
        </div>
        <label for="FormControlInput" class="form-label texto">Total de la venta:</label>
        <input type="text" class="form-control" id="FormControlInventario" autocomplete="off" formControlName="total" [readOnly]="true">
        <label for="FormControlInput" class="form-label texto">Fecha de la venta:</label>
        <input type="text" class="form-control" id="FormControlInventario" autocomplete="off" placeholder="" formControlName="fechaVenta" [readOnly]="true">
        <label for="FormControlInput" class="form-label texto">IDs de productos vendidos:</label>
        <input type="text" class="form-control" id="FormControlInventario" autocomplete="off" formControlName="productos" [readOnly]="true">
        <label for="FormControlInput" class="form-label texto">IDs dde promociones aplicadas:</label>
        <input type="text" class="form-control" id="FormControlInventario" autocomplete="off" formControlName="promociones" [readOnly]="true">
    </form>
</div>
<app-bottombar></app-bottombar>